In [172]:
import pandas as pd
import random
import numpy as np

# Define the tickers, company names, regions, and prices
tickers_data = [
    ('AAPL', 'Apple Inc.', 'US', 150.32),
    ('GOOGL', 'Alphabet Inc.', 'US', 2420.78),
    ('AMZN', 'Amazon.com, Inc.', 'US', 3295.45),
    ('MSFT', 'Microsoft Corporation', 'US', 280.42),
    ('FB', 'Facebook, Inc.', 'US', 325.67),
    ('JNJ', 'Johnson & Johnson', 'US', 165.23),
    ('V', 'Visa Inc.', 'US', 230.56),
    ('PG', 'Procter & Gamble Co', 'US', 135.89),
    ('JPM', 'JPMorgan Chase & Co', 'US', 160.78),
    ('UNH', 'UnitedHealth Group Inc.', 'US', 410.32),
    ('NESN.SW', 'Nestlé SA', 'Europe', 112.34),
    ('ROG.SW', 'Roche Holding AG', 'Europe', 345.21),
    ('NOVN.SW', 'Novartis AG', 'Europe', 80.56),
    ('LIN.DE', 'Linde plc', 'Europe', 250.89),
    ('ALV.DE', 'Allianz SE', 'Europe', 210.45),
    ('7203.T', 'Toyota Motor Corp.', 'Japan', 8305),
    ('9984.T', 'SoftBank Group Corp.', 'Japan', 7890),
    ('6861.T', 'Keyence Corporation', 'Japan', 52400),
    ('9433.T', 'KDDI Corporation', 'Japan', 3225),
    ('4063.T', 'Shin-Etsu Chemical Co., Ltd.', 'Japan', 18640),
    ('005930.KS', 'Samsung Electronics Co., Ltd.', 'Korea', 72500),
    ('000660.KS', 'SK Hynix Inc.', 'Korea', 115500),
    ('035420.KS', 'NAVER Corporation', 'Korea', 355000),
    ('035720.KS', 'Kakao Corporation', 'Korea', 125000),
    ('051910.KS', 'LG Chem Ltd.', 'Korea', 835000),
    ('0700.HK', 'Tencent Holdings Limited', 'Hong Kong', 590),
    ('1299.HK', 'AIA Group Limited', 'Hong Kong', 93.4),
    ('0941.HK', 'China Mobile Limited', 'Hong Kong', 48.2),
    ('2318.HK', 'Ping An Insurance (Group) Company of China, Ltd.', 'Hong Kong', 76.9),
    ('1398.HK', 'Industrial and Commercial Bank of China Limited', 'Hong Kong', 5.14)
]

tickers, company_names, regions, prices = zip(*tickers_data)

# Currency conversion rates to USD
currency_conversion = {
    'Japan': 0.0064,  # 1 JPY to USD
    'Europe': 1.07,   # 1 EUR to USD
    'Korea': 0.00073, # 1 KRW to USD
    'Hong Kong': 0.13 # 1 HKD to USD
}

# Create a dictionary to store the portfolio data
portfolio_data = {
    'Ticker': [],
    'Company Name': [],
    'Region': [],
    'Market Value (USD)': [],
    'Market Value (Local)': [],
    'Total Shares': [],
    'Price in Local Currency': [],
    'Exchange Rate': []
}

# Generate random data for the portfolio
total_market_value = 100000000 # Total market value of the portfolio in USD
selected_tickers = random.sample(list(zip(tickers, company_names, regions, prices)), 25)
initial_values = np.random.uniform(1000000, 10000000, size=len(selected_tickers))

# Scale the values to match the target market value
scale_factor = 100000000 / np.sum(initial_values)
scaled_values = initial_values * scale_factor

for (ticker, company_name, region, price_local), market_value_usd in zip(selected_tickers, scaled_values):
    if region != 'US':
        exchange_rate = currency_conversion[region]
        market_value_local = market_value_usd * (1 / exchange_rate)
    else:
        exchange_rate = 1.0
        market_value_local = market_value_usd

    if region == 'Japan':
        total_shares = (int(market_value_local / price_local) // 100) * 100  # Round down to the nearest lot of 100
    else:
        total_shares = int(market_value_local / price_local)  # Compute total shares

    portfolio_data['Ticker'].append(ticker)
    portfolio_data['Company Name'].append(company_name)
    portfolio_data['Region'].append(region)
    portfolio_data['Market Value (USD)'].append(market_value_usd)
    portfolio_data['Market Value (Local)'].append(market_value_local)
    portfolio_data['Total Shares'].append(total_shares)
    portfolio_data['Price in Local Currency'].append(price_local)
    portfolio_data['Exchange Rate'].append(exchange_rate)

# Create the portfolio dataframe
portfolio_df = pd.DataFrame(portfolio_data)

# Convert 'Market Value (USD)' from floats for accurate sum
portfolio_df['Market Value (USD)'] = portfolio_df['Market Value (USD)'].astype(float)

# Calculate and display the total market value
print("Adjusted Total Market Value of the Portfolio: $", portfolio_df['Market Value (USD)'].sum())

# Calculate the '% Portfolio' and round to 2 decimal places
portfolio_df['% Portfolio'] = round(portfolio_df['Market Value (USD)'] / portfolio_df['Market Value (USD)'].sum() * 100, 2)

# Sort the DataFrame by '% Portfolio' in descending order
portfolio_df.sort_values(by=['% Portfolio'], ascending=False)

Adjusted Total Market Value of the Portfolio: $ 100000000.0

,Ticker,Company Name,Region,Market Value (USD),Market Value (Local),Total Shares,Price in Local Currency,Exchange Rate,% Portfolio
0,LIN.DE,Linde plc,Europe,7.460555e+06,6.972481e+06,27790,250.89,1.07000,7.46
10,NOVN.SW,Novartis AG,Europe,7.403864e+06,6.919499e+06,85892,80.56,1.07000,7.40
8,035720.KS,Kakao Corporation,Korea,7.133512e+06,9.771934e+09,78175,125000.00,0.00073,7.13
9,MSFT,Microsoft Corporation,US,5.893718e+06,5.893718e+06,21017,280.42,1.00000,5.89
22,UNH,UnitedHealth Group Inc.,US,5.471951e+06,5.471951e+06,13335,410.32,1.00000,5.47
16,9984.T,SoftBank Group Corp.,Japan,5.394984e+06,8.429663e+08,106800,7890.00,0.00640,5.39
12,PG,Procter & Gamble Co,US,5.213255e+06,5.213255e+06,38363,135.89,1.00000,5.21
20,AMZN,"Amazon.com, Inc.",US,5.080626e+06,5.080626e+06,1541,3295.45,1.00000,5.08
2,000660.KS,SK Hynix Inc.,Korea,4.959400e+06,6.793699e+09,58819,115500.00,0.00073,4.96
5,6861.T,Keyence Corporation,Japan,4.640881e+06,7.251376e+08,13800,52400.00,0.00640,4.64
11,JPM,JPMorgan Chase & Co,US,4.396716e+06,4.396716e+06,27346,160.78,1.00000,4.40
24,ALV.DE,Allianz SE,Europe,4.261672e+06,3.982871e+06,18925,210.45,1.07000,4.26
7,GOOGL,Alphabet Inc.,US,3.612963e+06,3.612963e+06,1492,2420.78,1.00000,3.61
19,FB,"Facebook, Inc.",US,3.581670e+06,3.581670e+06,10997,325.67,1.00000,3.58
1,2318.HK,"Ping An Insurance (Group) Company of China, Ltd.",Hong Kong,3.575844e+06,2.750649e+07,357691,76.90,0.13000,3.58
13,NESN.SW,Nestlé SA,Europe,3.484813e+06,3.256835e+06,28990,112.34,1.07000,3.48
17,051910.KS,LG Chem Ltd.,Korea,2.889224e+06,3.957842e+09,4739,835000.00,0.00073,2.89
15,4063.T,"Shin-Etsu Chemical Co., Ltd.",Japan,2.882454e+06,4.503835e+08,24100,18640.00,0.00640,2.88
21,V,Visa Inc.,US,2.765562e+06,2.765562e+06,11994,230.56,1.00000,2.77
14,ROG.SW,Roche Holding AG,Europe,2.227067e+06,2.081371e+06,6029,345.21,1.07000,2.23
23,JNJ,Johnson & Johnson,US,2.127775e+06,2.127775e+06,12877,165.23,1.00000,2.13
3,7203.T,Toyota Motor Corp.,Japan,2.067680e+06,3.230751e+08,38900,8305.00,0.00640,2.07
18,1398.HK,Industrial and Commercial Bank of China Limited,Hong Kong,1.968857e+06,1.514506e+07,2946508,5.14,0.13000,1.97
6,1299.HK,AIA Group Limited,Hong Kong,7.543504e+05,5.802695e+06,62127,93.40,0.13000,0.75
4,AAPL,Apple Inc.,US,7.506073e+05,7.506073e+05,4993,150.32,1.00000,0.75

In [173]:
# Convert 'Market Value (USD)' from formatted strings to floats
portfolio_df['Market Value (USD)'] = portfolio_df['Market Value (USD)'].replace('[\$,]', '', regex=True).astype(float)

# Calculate the total market value of the portfolio
total_portfolio_value = portfolio_df['Market Value (USD)'].sum()

# Optional: Format the total market value for display
formatted_total_portfolio_value = f"${total_portfolio_value:,.0f}"

print("Total Market Value of the Portfolio: ", formatted_total_portfolio_value)

Total Market Value of the Portfolio:  $100,000,000

In [174]:
def generate_pro_rata_trades(portfolio_df, trade_percentage):
    # Ensure 'Market Value (USD)' is in float format
    if portfolio_df['Market Value (USD)'].dtype == 'object':
        portfolio_df['Market Value (USD)'] = portfolio_df['Market Value (USD)'].str.replace(r'[\$,]', '', regex=True).astype(float)
    
    # Calculate the total US market value
    us_market_value = portfolio_df[portfolio_df['Region'] == 'United States']['Market Value (USD)'].sum()
    
    # Calculate the '% of US Market Value Portfolio' for each stock
    portfolio_df['% of US Market Value Portfolio'] = portfolio_df['Market Value (USD)'] / us_market_value * 100
    
    # Sort the portfolio DataFrame by '% of US Market Value Portfolio' in descending order
    portfolio_df.sort_values(by=['% of US Market Value Portfolio'], ascending=False, inplace=True)
    
    # Calculate the trade amount for each stock based on the specified percentage
    portfolio_df['Trade Amount (USD)'] = portfolio_df['Market Value (USD)'] * trade_percentage / 100
    
    # Calculate the trade amount in local currency
    portfolio_df['Trade Amount (Local)'] = portfolio_df.apply(lambda row: calculate_trade_amount_local(row), axis=1)
    
    # Calculate the number of shares to trade
    portfolio_df['Shares to Trade'] = portfolio_df.apply(calculate_shares_to_trade, axis=1)
    
    # Prepare the trades DataFrame for output
    trades_df = portfolio_df[['Ticker', 'Region', 'Shares to Trade', 'Trade Amount (USD)', 'Trade Amount (Local)']].copy()
    
    # Calculate and append the sum values as a new row
    sum_row = pd.DataFrame([['Total', '', trades_df['Shares to Trade'].sum(), trades_df['Trade Amount (USD)'].sum(), trades_df['Trade Amount (Local)'].sum()]], columns=trades_df.columns)
    trades_df = pd.concat([trades_df, sum_row], ignore_index=True)
    
    # Format for display only when needed
    trades_df['Trade Amount (USD)'] = trades_df['Trade Amount (USD)'].apply(lambda x: f"${x:,.0f}")
    trades_df['Trade Amount (Local)'] = trades_df['Trade Amount (Local)'].apply(lambda x: f"{x:,.0f}")
    
    return trades_df

def calculate_trade_amount_local(row):
    if row['Region'] == 'Japan':
        exchange_rate = 130.0  # Assuming a fixed exchange rate for Japan
        return row['Trade Amount (USD)'] * exchange_rate
    elif row['Region'] == 'Korea':
        exchange_rate = 1200.0  # Assuming a fixed exchange rate for Korea
        return row['Trade Amount (USD)'] * exchange_rate
    else:
        return row['Trade Amount (USD)'] * row['Exchange Rate']

def calculate_shares_to_trade(row):
    # Convert 'Price in Local Currency' to float if necessary
    price_local = float(row['Price in Local Currency'].replace(',', '')) if isinstance(row['Price in Local Currency'], str) else row['Price in Local Currency']
    
    # Calculate initial number of shares to trade based on local trade amount
    initial_shares = row['Trade Amount (Local)'] / price_local
    
    # Handle specific trading rules for Japan and Korea
    if row['Region'] == 'Japan':
        # Japanese stocks must be traded in multiples of the lot size, usually 100 shares
        lot_size = 100
        return (int(initial_shares) // lot_size) * lot_size
    elif row['Region'] == 'Korea':
        # Ensure there is at least one share being traded for Korean stocks
        return max(1, int(initial_shares))
    else:
        return int(initial_shares)

# Ensure to update portfolio DataFrame to reflect these changes before using it to calculate trades
portfolio_df['Price in Local Currency'] = portfolio_df['Price in Local Currency'].astype(str)  # Ensure this column is in string format for the replacement to work

# Usage of the function
trade_percentage = float(input("Enter the percentage of the portfolio to trade: "))
trades_df = generate_pro_rata_trades(portfolio_df, trade_percentage)

print("Pro-rata Trades:")
print(trades_df)

Enter the percentage of the portfolio to trade:  15

Pro-rata Trades:
       Ticker     Region  Shares to Trade Trade Amount (USD)  \
0      LIN.DE     Europe             4772         $1,119,083
1     NESN.SW     Europe             4978           $522,722
2         JNJ         US             1931           $319,166
3         UNH         US             2000           $820,793
4           V         US             1799           $414,834
5        AMZN         US              231           $762,094
6          FB         US             1649           $537,250
7     1398.HK  Hong Kong             7469           $295,329
8   051910.KS      Korea              622           $433,384
9      9984.T      Japan            13300           $809,248
10     4063.T      Japan             3000           $432,368
11     ROG.SW     Europe             1035           $334,060
12         PG         US             5754           $781,988
13    2318.HK  Hong Kong              906           $536,377
14        JPM         US             4101           $659,507
15    NOVN.SW     Europe            14750         $1,110,580
16       MSFT         US             3152           $884,058
17  035720.KS      Korea            10272         $1,070,027
18      GOOGL         US              223           $541,944
19    1299.HK  Hong Kong              157           $113,153
20     6861.T      Japan             1700           $696,132
21       AAPL         US              749           $112,591
22     7203.T      Japan             4800           $310,152
23  000660.KS      Korea             7728           $743,910
24     ALV.DE     Europe             3250           $639,251
25      Total                      100328        $15,000,000

   Trade Amount (Local)
0             1,197,419
1               559,312
2               319,166
3               820,793
4               414,834
5               762,094
6               537,250
7                38,393
8           520,060,383
9           105,202,188
10           56,207,860
11              357,444
12              781,988
13               69,729
14              659,507
15            1,188,320
16              884,058
17        1,284,032,160
18              541,944
19               14,710
20           90,497,173
21              112,591
22           40,319,767
23          892,692,000
24              683,998
25        2,998,955,083

In [175]:
def format_portfolio(portfolio_df):
    def format_market_value(row):
        if row['Region'] == 'US':
            currency = '$'
        elif row['Region'] == 'Europe':
            currency = '€'
        elif row['Region'] == 'Japan':
            currency = '¥'
        elif row['Region'] == 'Hong Kong':
            currency = 'HK$'
        elif row['Region'] == 'Korea':
            currency = '₩'
        else:
            currency = '?'
        
        return '{}{:,.0f}'.format(currency, row['Market Value (Local)'])

    def format_exchange_rate(row):
        if row['Region'] == 'US':
            currency = '$'
        elif row['Region'] == 'Europe':
            currency = '€'
        elif row['Region'] == 'Japan':
            currency = '¥'
        elif row['Region'] == 'Hong Kong':
            currency = 'HK$'
        elif row['Region'] == 'Korea':
            currency = '₩'
        else:
            currency = '?'
        
        return '{}{:.5f}'.format(currency, row['Exchange Rate'])

    formatted_portfolio = portfolio_df[['Company Name', 'Ticker', '% Portfolio', 'Region', 'Market Value (USD)',
                                         'Market Value (Local)', 'Total Shares', 'Exchange Rate']].copy()

    formatted_portfolio['Market Value (USD)'] = portfolio_df.apply(lambda row: '${:,.0f}'.format(row['Market Value (USD)']), axis=1)
    formatted_portfolio['Market Value (Local)'] = portfolio_df.apply(format_market_value, axis=1)
    formatted_portfolio['Total Shares'] = portfolio_df['Total Shares'].apply(lambda x: '{:,.0f}'.format(x))
    formatted_portfolio['Exchange Rate'] = portfolio_df.apply(format_exchange_rate, axis=1)

    return formatted_portfolio.sort_values(by=['% Portfolio'],ascending=False)

In [176]:
print_portfolio = format_portfolio(portfolio_df)
print_portfolio

,Company Name,Ticker,% Portfolio,Region,Market Value (USD),Market Value (Local),Total Shares,Exchange Rate
0,Linde plc,LIN.DE,7.46,Europe,"$7,460,555","€6,972,481","27,790",€1.07000
10,Novartis AG,NOVN.SW,7.40,Europe,"$7,403,864","€6,919,499","85,892",€1.07000
8,Kakao Corporation,035720.KS,7.13,Korea,"$7,133,512","₩9,771,934,243","78,175",₩0.00073
9,Microsoft Corporation,MSFT,5.89,US,"$5,893,718","$5,893,718","21,017",$1.00000
22,UnitedHealth Group Inc.,UNH,5.47,US,"$5,471,951","$5,471,951","13,335",$1.00000
16,SoftBank Group Corp.,9984.T,5.39,Japan,"$5,394,984","¥842,966,253","106,800",¥0.00640
12,Procter & Gamble Co,PG,5.21,US,"$5,213,255","$5,213,255","38,363",$1.00000
20,"Amazon.com, Inc.",AMZN,5.08,US,"$5,080,626","$5,080,626","1,541",$1.00000
2,SK Hynix Inc.,000660.KS,4.96,Korea,"$4,959,400","₩6,793,698,631","58,819",₩0.00073
5,Keyence Corporation,6861.T,4.64,Japan,"$4,640,881","¥725,137,608","13,800",¥0.00640
11,JPMorgan Chase & Co,JPM,4.40,US,"$4,396,716","$4,396,716","27,346",$1.00000
24,Allianz SE,ALV.DE,4.26,Europe,"$4,261,672","€3,982,871","18,925",€1.07000
7,Alphabet Inc.,GOOGL,3.61,US,"$3,612,963","$3,612,963","1,492",$1.00000
19,"Facebook, Inc.",FB,3.58,US,"$3,581,670","$3,581,670","10,997",$1.00000
1,"Ping An Insurance (Group) Company of China, Ltd.",2318.HK,3.58,Hong Kong,"$3,575,844","HK$27,506,494","357,691",HK$0.13000
13,Nestlé SA,NESN.SW,3.48,Europe,"$3,484,813","€3,256,835","28,990",€1.07000
17,LG Chem Ltd.,051910.KS,2.89,Korea,"$2,889,224","₩3,957,841,577","4,739",₩0.00073
15,"Shin-Etsu Chemical Co., Ltd.",4063.T,2.88,Japan,"$2,882,454","¥450,383,490","24,100",¥0.00640
21,Visa Inc.,V,2.77,US,"$2,765,562","$2,765,562","11,994",$1.00000
14,Roche Holding AG,ROG.SW,2.23,Europe,"$2,227,067","€2,081,371","6,029",€1.07000
23,Johnson & Johnson,JNJ,2.13,US,"$2,127,775","$2,127,775","12,877",$1.00000
3,Toyota Motor Corp.,7203.T,2.07,Japan,"$2,067,680","¥323,075,055","38,900",¥0.00640
18,Industrial and Commercial Bank of China Limited,1398.HK,1.97,Hong Kong,"$1,968,857","HK$15,145,056","2,946,508",HK$0.13000
6,AIA Group Limited,1299.HK,0.75,Hong Kong,"$754,350","HK$5,802,695","62,127",HK$0.13000
4,Apple Inc.,AAPL,0.75,US,"$750,607","$750,607","4,993",$1.00000

In [180]:
def process_trades_df(df):
    # Known column names
    shares_column = 'Shares to Trade'
    amount_usd_column = 'Trade Amount (USD)'

    # Check and format 'Shares to Trade' column if present
    if shares_column in df.columns:
        # Remove commas and convert to integer
        df[shares_column] = df[shares_column].replace(',', '', regex=True).astype(int).apply(lambda x: f"{x:,}")

    # Convert 'Trade Amount (USD)' to float after removing any currency symbols if the column is present
    if amount_usd_column in df.columns:
        df[amount_usd_column] = df[amount_usd_column].replace('[\$,]', '', regex=True).astype(float)

    # Format 'Trade Amount (USD)' as USD currency style
    if amount_usd_column in df.columns:
        df[amount_usd_column] = df[amount_usd_column].apply(lambda x: f"${x:,.0f}")

    # Calculate the % of the total portfolio each trade represents
    if amount_usd_column in df.columns:
        total_trade_amount_usd = df[amount_usd_column].str.replace('$', '').replace(',', '', regex=True).astype(float).sum()
        df['% Portfolio'] = df[amount_usd_column].str.replace('$', '').replace(',', '', regex=True).astype(float) / total_trade_amount_usd * 100*2
        df['% Portfolio'] = df['% Portfolio'].apply(lambda x: f"{x:.2f}%")

    # Sorting the DataFrame by '% Portfolio' in descending order
    if '% Portfolio' in df.columns:
        df = df.sort_values('% Portfolio', ascending=False, key=lambda col: col.str.replace('%', '').astype(float))

    df_filtered = df[df['Ticker'] != 'Total']
    return df_filtered

# Assuming 'trades_df' is already defined and populated
processed_trades_df = process_trades_df(trades_df)
processed_trades_df

,Ticker,Region,Shares to Trade,Trade Amount (USD),Trade Amount (Local),% Portfolio
0,LIN.DE,Europe,"4,772","$1,119,083","1,197,419",7.46%
15,NOVN.SW,Europe,"14,750","$1,110,580","1,188,320",7.40%
17,035720.KS,Korea,"10,272","$1,070,027","1,284,032,160",7.13%
16,MSFT,US,"3,152","$884,058","884,058",5.89%
3,UNH,US,"2,000","$820,793","820,793",5.47%
9,9984.T,Japan,"13,300","$809,248","105,202,188",5.39%
12,PG,US,"5,754","$781,988","781,988",5.21%
5,AMZN,US,231,"$762,094","762,094",5.08%
23,000660.KS,Korea,"7,728","$743,910","892,692,000",4.96%
20,6861.T,Japan,"1,700","$696,132","90,497,173",4.64%
14,JPM,US,"4,101","$659,507","659,507",4.40%
24,ALV.DE,Europe,"3,250","$639,251","683,998",4.26%
18,GOOGL,US,223,"$541,944","541,944",3.61%
13,2318.HK,Hong Kong,906,"$536,377","69,729",3.58%
6,FB,US,"1,649","$537,250","537,250",3.58%
1,NESN.SW,Europe,"4,978","$522,722","559,312",3.48%
8,051910.KS,Korea,622,"$433,384","520,060,383",2.89%
10,4063.T,Japan,"3,000","$432,368","56,207,860",2.88%
4,V,US,"1,799","$414,834","414,834",2.77%
11,ROG.SW,Europe,"1,035","$334,060","357,444",2.23%
2,JNJ,US,"1,931","$319,166","319,166",2.13%
22,7203.T,Japan,"4,800","$310,152","40,319,767",2.07%
7,1398.HK,Hong Kong,"7,469","$295,329","38,393",1.97%
19,1299.HK,Hong Kong,157,"$113,153","14,710",0.75%
21,AAPL,US,749,"$112,591","112,591",0.75%